/* 01. #options
---------------------------------------------------	*/
#options ul{
    margin:0;
    padding:0;
    list-style:none;
}
#options li{
    margin:0 0 10px 0;
    padding:0;
}
#options fieldset{
    padding:10px 10px 0;
    width:50%;
}
#options input{
    padding:5px;
}